<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['treemap'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)','note'],
                ['检验检测机构资质认定评审准则', null, 0, 0,null],
                ['一、总则', '检验检测机构资质认定评审准则', 0, 0],
                ['二、参考文献', '检验检测机构资质认定评审准则', 0, 0],
                ['三、术语与定义', '检验检测机构资质认定评审准则', 0, 0],
                ['四、评审要求', '检验检测机构资质认定评审准则', 0, 0],
                ['1.1 为实施《检验检测机构资质认定管理办法》相关要求，开展检验检测机构资质认定评审，制定本准则。', '一、总则', 20, 10],
                ['1.2 在中华人民共和国境内，向社会出具具有证明作用的数据、结果的检验检测机构的资质认定评审应遵守本准则。', '一、总则', 20, 31],
                ['1.3 国家认证认可监督管理委员会在本评审准则基础上，针对不同行业和领域检验检测机构的特殊性，制定和发布评审补充要求，评审补充要求与本评审准则一并作为评审依据。', '一、总则', 20, 12],
                ['2.1 《检验检测机构资质认定管理办法》', '二、参考文献', 5, -11],
                ['2.2 GB/T 27000《合格评定 词汇和通用原则》', '二、参考文献', 5, -2],
                ['2.3 GB/T 19001《质量管理体系  要求》', '二、参考文献', 5, -13],
                ['2.4 GB/T 31880《检验检测机构诚信基本要求》', '二、参考文献', 5, 4],
                ['2.5 GB/T 27025《检测和校准实验室能力的通用要求》', '二、参考文献', 5, -5],
                ['2.6 GB/T 27020《合格评定 各类检验机构能力的通用要求》', '二、参考文献', 5, -5],
                ['2.7 GB19489  《实验室 生物安全通用要求》', '二、参考文献', 5, -5],
                ['2.8 GB/T 22576《医学实验室质量和能力的要求》', '二、参考文献', 5, -5],
                ['2.9 GB/T JJF1001 《通用计量术语及定义》', '二、参考文献', 5, -5],
                ['资质认定：国家认证认可监督管理委员会和省级质量技术监督部门依据有关法律法规和标准、技术规范的规定，对检验检测机构的基本条件和技术能力是否符合法定要求实施的评价许可。', '三、术语与定义', 5, 4],
                ['检验检测机构:依法成立，依据相关标准或者技术规范，利用仪器设备、环境设施等技术条件和专业技能，对产品或者法律法规规定的特定对象进行检验检测的专业技术组织。', '三、术语与定义', 5, -12],
                ['资质认定评审:国家认证认可监督管理委员会和省级质量技术监督部门依据《中华人民共和国行政许可法》的有关规定，自行或者委托专业技术评价机构，组织评审人员，对检验检测机构的基本条件和技术能力是否符合《检验检测机构资质认定评审准则》和评审补充要求所进行的审查和考核。', '三、术语与定义', 5, 63],
                ['4.1 依法成立并能够承担相应法律责任的法人或者其他组织', '四、评审要求', 20, 34],
                ['4.2 具有与其从事检验检测活动相适应的检验检测技术人员和管理人员', '四、评审要求', 20, 34],
                ['4.3 具有固定的工作场所，工作环境满足检验检测要求', '四、评审要求', 20, 34],
                ['4.4 具备从事检验检测活动所必需的检验检测设备设施', '四、评审要求', 20, 34],
                ['4.5 具有并有效运行保证其检验检测活动独立、公正、科学、诚信的管理体系', '四、评审要求', 20, 34],
                ['4.6 特殊性技术补充要求', '四、评审要求', 20, 34]

            ]);

            tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

            tree.draw(data, {
                highlightOnMouseOver: true,
                maxDepth: 1,
                minHighlightColor: '#8c6bb1',
                midHighlightColor: '#9ebcda',
                maxHighlightColor: '#edf8fb',
                minColor: '#009688',
                midColor: '#f7f7f7',
                maxColor: '#ee8100',
                headerHeight: 15,
                showScale: true,
                height: 500,
                useWeightedAverageForAggregation: true,
                 generateTooltip: showFullTooltip,
                fontSize: '15px'
            });
            function showFullTooltip(row, size, value) {
                return '<div style="background:#fd9; padding:10px; border-style:solid">' +
                    '<span style="font-family:Courier"><b>' + data.getValue(row, 0) +
                    '</b>, ' + data.getValue(row, 1) + ', ' + data.getValue(row, 2) +
                    ', ' + data.getValue(row, 3) + '</span><br>' +
                    'Datatable row: ' + row + '<br>' +
                    data.getColumnLabel(2) +
                    ' (total value of this cell and its children): ' + size + '<br>' +
                    data.getColumnLabel(3) + ': ' + value + ' </div>';
            }
        }


    </script>
</head>

<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>

</html>